// Placeholder to quickly add your own styles
// The file is included last in the build pipeline

:root, [data-bs-theme="light"] {
    --bs-body-bg: rgb(251, 247, 244)
    --bs-bg-opacity: 0;
}

* {
    --bs-dropdown-link-active-bg: #c019c6;
}

.w-30 { width: 30% }
.w-40 { width: 40% }

.list {
    max-width: 1200px;
}

.navbar {
    box-shadow: none;
}
@media (max-width: 768px) {
    .navbar-collapse {
        height: 100vh;

        .nav-item {
            margin: .5em auto;

            &:first-child {
                margin: 2em auto .5em auto;
            }
        }
    }
}

.w-100 iframe {
    min-width: 350px;
    min-height: 250px;
}
@media (min-width: 768px) {
    .w-100 iframe {
        min-width: 640px;
        min-height: 480px;
    }    
}

.featured-content a {
    color: black;
}

.navbar  .ig {
    font-size: 35px;
    padding-top: 0px;
    color: #c019c6;
    margin-bottom: -8px;
}